<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <uses-feature
    android:name="android.hardware.sensor.stepcounter"
    android:required="false" />

  <application>
    <service
      android:name="expo.modules.stepcounter.StepForegroundService"
      android:exported="false"
      android:foregroundServiceType="health" />
  </application>
</manifest>
